.container {
  text-align: center;
  font-family: sans-serif;
  padding: 40px;
  border: none;
  border-radius: 10px;
  width: max-content;
  margin: 0 auto;
  margin-top: 30vh;
  background: linear-gradient(125deg, #f8fafc 20%, #e2e8f0 100%, #e2e8f0 80%);
}

.heading {
  text-transform: uppercase;
  margin-top: 0;
}

.timer {
  font-size: 40px;
  margin-top: 0;
}

.btn {
  width: 100px;
  padding: 10px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  background-color: #3b82f6;
  border: 1px solid #2563eb;
  color: #fff;
  margin-left: 10px;
}

.btn:hover {
  background-color: #2563eb;
  
}